.top {
	padding-top: 40px;
	padding-bottom: 150px;

    &__inner {
        position: relative;

        .top__content {
            width: 370px;
            padding: 150px 0 250px;

            .top__title {
                font-size: 30px;
                font-family: 'Yeseva One', cursive;
                font-weight: 400;
            }
            
            .top__text {
                margin-top: 15px;
                margin-bottom: 48px;
            }
            
            .top__buy {
                border: none;
                border-radius: 0;
                padding: 18px 54px;
                background: #ffbd59;
                font-family: 'Comfortaa', cursive;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .top__img {
            position: absolute;
            top: 0;
            left: 240px;
        }
    }
}



